@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #F7F7FA;
}

h1 {
    font-family: 'Open Sans';
    font-style: bold;
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;
    text-align: center;
    color: #2355FE;
}

header {
    width: 100%;
}

.hd-ctn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    height: 44px;
}

.hd-ctn h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 24px;
    color: #2355FE;
}

.login-ctn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 10px;
    gap: 5px;
    width: 72px;
    height: 34px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

.login-ctn p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #7D7F8B;
}

nav {
    margin: 25px 10px;
    background: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 11px 0px 10px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    gap: 10px;
}

nav a {
    text-decoration: none;
}

nav button {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #7D7F8B;
    background: #FFFFFF;
    padding: 10px;
    gap: 10px;
    border: none;
    border-bottom: #FFFFFF solid 2px;
    transition: 0.2s ease-in;
}

nav button:hover {
    color: #2355FE;
    border-color: #2355FE;
}

.btn-add,
.delete,
.cancel,
.login-btn {
    font-family: 'Open Sans';
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    padding: 5px 20px;
    border: none;
    background-color: #FFFFFF;
    color: #2355FE;
    border: #FFFFFF solid 1px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    transition: background-color 0.5s ease-in-out scale 0.8s ease-in-out;
}

.btn-add:hover {
    cursor: pointer;
    border-color: #2355FE;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

table {
    border-collapse: collapse;
}

th {
    border: #dbdbe1 solid 2px;
    padding: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #AAAEBD;
}

td {
    border: #dbdbe1 solid 2px;
    padding: 1px 5px;
}

.td-small {
    max-width: 30px;
}

.td-ligne {
    max-width: 60px;
    text-align: center;
}


.dollar {
    margin: 0;
    color: #838AA7;
}

.dollar,
.pricetag {
    text-align: center;
    width: 50%;
}

tr:hover .td-hover {
    background-color: rgba(223, 217, 217, 0.322);
}

tr:hover input,
tr:hover select,
tr:hover .dollar,
tr:hover .trash,
tr:hover .modal-trigger3 {
    color: #2355FE;
    stroke: #2355FE;
}

svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.edit_input {
    text-align: center;
    border: none;
    color: #838AA7;
    background-color: #0f0f0f00;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]:focus {
    -moz-appearance: button;
}

input:focus {
    outline: #2355FE solid 2px;
}

/*! Début style Modal */

.modal-title {
    color: #7D7F8B;
}

.add-ampoule-ctn {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.trash {
    padding: 3px;
    width: 25px;
    height: 25px;
    stroke: #838AA7;
    stroke-width: 1.3;
    transition: scale 0.2s ease-in-out;
}

#trash:hover {
    stroke: #b40505;
    stroke-width: 2.6;
}

.modal-trigger3 {
    padding: 3px;
    width: 25px;
    height: 25px;
    stroke: #838AA7;
    stroke-width: 0.7;
    transition: scale 0.2s ease-in-out;
}

#check:hover {
    stroke: #28ac24;
    stroke-width: 1.6;
}

.modal-container,
.modal-container2 {
    /* display: none; */
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    transition: visibility 0.4s;

}

/* .modal-container2 {
    transform: translateX(-60%);
} */

.input-container {
    width: 80%;
}

select {
    width: 96.5%;
}

input {
    width: 95%;
    border-radius: 0;
    border: solid 1px #575757;
}

.modal-container.active,
.modal-container2.active {
    /* display: block; */
    transform: visibility 0s;
    visibility: visible;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}

.modal-container.active .overlay,
.modal-container2.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal {
    opacity: 1;
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background-color: #F7F7FA;
    border: 1px solid #484848;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 150px));
    transition: opacity 0.4s ease-out,
        transform 0.4s ease-out;
}

.modal-container.active .modal,
.modal-container2.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
        transform 0.4s 0.2s ease-out;
}

.close-modal {
    padding: 8px 14px;
    border: none;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #F7F7FA;
    color: #838AA7;
    cursor: pointer;
}

.close-modal:hover {
    color: #2355FE;
    cursor: pointer;
}

.modal-msg p {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgb(48, 48, 48);
}

.modal-btn-ctn {
    display: flex;
    justify-content: space-between;
}


/** Formulaire login style START */

.body-login {
    background-color: #F7F7FA;
    padding-top: 50px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    min-width: 320px;
}

.form-header {
    display: flex;
    width: 100%;
    justify-content: center;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
    margin-bottom: 30px;
}

.form-header a {
    text-decoration: none;
}

.form-header h1 {
    text-align: center;
    margin: 10px;
    padding: 10px 0;
    color: #2355FE;
}

.form-main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-container form input {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 50px;
    border: none;
    color: #979797;
    background: #FDFDFD;
    border-bottom: 1px solid #979797;
}

.subm-ctn {
    display: flex;
    justify-content: center;
}

.forgt {
    margin: 10px auto;
}

.forgt a {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-decoration: none;
    color: #7e7e7e;

}

.action-ctn {
    margin-top: 100px;
}

/** Toast */

.toast {
    background: #FFFFFF;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    position: fixed;
    top: 0px;
    z-index: 1;
    left: 32%;
    width: 33%;
    padding: 15px;
    display: flex;
    flex-flow: column nowrap;
    transform: translateY(-150px);
    transition: 0.4s ease-in-out;
}

.show {
    transform: translateY(0px);
}

.toast-header {
    display: flex;
    flex-direction: row;
    color: #2355FE;
    justify-content: space-between;
}

.toast_body {
    justify-self: center;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #7D7F8B;
}