@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600;700&display=swap');



body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;
    text-align: center;
    color: rgb(106, 13, 194);
}

header {
    margin: 0 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Bebas Neue';
    padding: 10px 20px;
    border: none;
    background-color: rgb(38, 37, 39);
    color: white;
    transition: background-color 0.5s ease-in-out scale 0.8s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: rgb(106, 13, 194);
    color: white;
    scale: 1.1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

table {
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    padding: 10px;
}

td {
    border: 1px solid black;
    padding: 1px 5px;
}

.td-small {
    max-width: 30px;
}


tr:hover .td-hover{
    background-color: rgba(116, 116, 116, 0.322);
}

svg {
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.td-icon {
    border: none;
}

.edit_input {
    border: none;
}



/*! Début style Modal */

.add-ampoule-ctn {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
}

.modal-trigger2 {
    border-radius: 5px;
    padding: 3px;
    fill: white;
    background-color: rgb(255, 0, 0);
    transition: scale 0.1s ease-in-out;
}

.modal-trigger2:hover {
    scale: 1.05;
}

.modal-trigger3 {
    border-radius: 5px;
    padding: 3px;
    fill: white;
    background-color: rgb(7, 192, 23);
    transition: scale 0.1s ease-in-out;
}

.modal-trigger3:hover {
    scale: 1.05;
}

.modal-container,
.modal-container2 {
    /* display: none; */
    visibility: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    transition: visibility 0.4s;

}

/* .modal-container2 {
    transform: translateX(-60%);
} */

.input-container {
    width: 100%;
}

input,
select {
    width: 100%;
    border-radius: 0;
    border: solid 1px #575757;
}

.modal-container.active,
.modal-container2.active {
    /* display: block; */
    transform: visibility 0s;
    visibility: visible;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}

.modal-container.active .overlay,
.modal-container2.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}

.modal {
    opacity: 1;
    width: 95%;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background-color: #FFFFFF;
    border: 1px solid #484848;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 150px));
    transition: opacity 0.4s ease-out,
        transform 0.4s ease-out;
}

.modal-container.active .modal,
.modal-container2.active .modal {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
        transform 0.4s 0.2s ease-out;
}

.close-modal {
    padding: 8px 14px;
    border: none;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: #000000;
    color: #FFFFFF;
    cursor: pointer;
}

.modal-msg p {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: rgb(48, 48, 48);
}

.modal-btn-ctn {
    display: flex;
    justify-content: space-between;
}